* {
  font-family: 'Inter', system-ui;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

// .button {
//   height: 32px;
//   width: 32px;
//   background: #ffffff;
//   border: 1px solid #f2f2f2;
//   box-sizing: border-box;
//   border-radius: 8px;
//   cursor: pointer;
// }

.search-block {
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  .clear {
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    top: 14px;
  }

  input {
    width: 200px;
    border: 0;
    padding: 13px;
    font-size: 16px;
    color: #c4c4c4;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100vh;
  right: 0;
  padding: 30px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }

  h2 {
    margin: 0;
  }

  .items {
    flex: 1;
  }
}

.cartTotalBlock {
  ul {
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        position: relative;
        top: -4px;
        margin: 0 7px;
        border-bottom: 1px dashed #dfdfdf;
      }
    }
  }

  .cartTotal {
    margin-bottom: 40px;
  }

  .greenButton {
    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  background: #9dd558;
  border-radius: 18px;
  padding: 18px 0;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease-in-out;

  &:hover {
    background-color: lighten($color: #9dd558, $amount: 5%);
  }
  &:active {
    background-color: darken($color: #9dd558, $amount: 5%);
  }

  &:disabled {
    background-color: #bebebe;
    cursor: default;
  }
}

.cartItem {
  padding: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 14px;
  }

  b {
    font-size: 16px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.1s ease-in;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
@keyframes button-loading {
  0% {
    opcaity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
